body {
  margin: 0;
  height:100vh;
  background:linear-gradient(135deg,#ff9a9e,#fad0c4,#fb2eb);
  background-size: 300% 300%;
  animation: gradientMove 8s ease infinite;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
<head>:
<meta name="viewport"
content="width=device-width,initial-scale=1.0">
  


/* Background */
.bg {
  position: fixed;
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg, #ff4e50, #fc913a, #f9d423);
  background-size: 300% 300%;
    animation: gradientMove 8s ease infinite;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


@keyframes gradient {
  0% {background-position: 0%;}
  50% {background-position: 100%;}
  100% {background-position: 0%;}
}

/* Envelope */
.envelope {
  margin-top: 150px;
  font-size: 30px;
  cursor: pointer;
  animation: bounce 1.5s infinite;
}

@keyframes bounce {
  0%,100% {transform: translateY(0);}
  50% {transform: translateY(-10px);}
}

/* Letter */
.letter {
  display: none;
  margin-top: 50px;
}

/* Slideshow */
.slideshow img {
  width: 200px;
  border-radius: 20px;
  margin-top: 20px;
  transition: 0.5s;
}
